<article class="w-full h-full">
  <div id="map" class="w-full h-full grow"></div>
</article>

<script>
  import { getMapLibraryFromQuery, logQueryParams } from "../lib/query-params";

  logQueryParams();

  const selectedLibraryElement = document.querySelector("#selected-library");
  const selectedLibrary = getMapLibraryFromQuery();

  if (selectedLibraryElement && selectedLibrary) {
    selectedLibraryElement.textContent = selectedLibrary;
  }
</script>

<script>
  const map = new maplibregl.Map({
    container: "map", // container id
    style: "https://demotiles.maplibre.org/style.json", // style URL
    center: [0, 0], // starting position [lng, lat]
    zoom: 1, // starting zoom
    maplibreLogo: true,
  });
</script>
